<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <style id="stndz-style"></style>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Atlanta Uber</title>
    
    <link href={{ url_for('static', filename='css/chart-style.css') }} rel="stylesheet" media="screen">
    <!-- Leaflet JS & CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
   <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin=""></script>
    
     <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>

  <!-- Icons -->
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!--  <link rel="stylesheet" href="leaflet-extramarkers.css"> -->
  <link href={{ url_for('static', filename='css/leaflet-extramarkers.css') }} rel="stylesheet" media="screen">

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Our CSS -->
    <link href={{ url_for('static', filename='css/style.css') }} rel="stylesheet" media="screen">
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
      <script src={{ url_for('static', filename='js/Chart.min.js') }}></script>
    <style type="text/css">
        /* Chart.js */
        @-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style>
	
	<script type="text/javascript" src="static/js/Utils.js"></script>
  </head>
  
  <body>
   <!-- chart div -->
   
    <div id="chart"></div>
    

	
	
	<div class="content">
		<div class="wrapper"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div><canvas id="chart-0" width="800" height="800" class="chartjs-render-monitor" style="display: block; width: 800px; height: 800px;"></canvas></div>
		<div class="toolbar">
			<button onclick="randomize(this)">Randomize</button>
			<button onclick="addDataset(this)">Add Dataset</button>
			<button onclick="removeDataset(this)">Remove Dataset</button>
		</div>
	</div>
	
	

	<script>
	
		var DATA_COUNT = 16;
		var MIN_XY = -150;
		var MAX_XY = 100;

		var utils = Samples.utils;

		utils.srand(110);

		function colorize(opaque, context) {
			var value = context.dataset.data[context.dataIndex];
			var x = value.x / 100;
			var y = value.y / 100;
			var r = x < 0 && y < 0 ? 250 : x < 0 ? 150 : y < 0 ? 50 : 0;
			var g = x < 0 && y < 0 ? 0 : x < 0 ? 50 : y < 0 ? 150 : 250;
			var b = x < 0 && y < 0 ? 0 : x > 0 && y > 0 ? 250 : 150;
			var a = opaque ? 1 : 0.5 * value.v / 1000;

			return 'rgba(' + r + ',' + g + ',' + b + ',' + a + ')';
		}

		function generateData() {
			var data = [];
			var i;

			
				data = [
                  {% for place, duration, high, low, dist, time, type in chartdata %}
                      {
                        x: {{duration}},
                        y: ({{high}}+{{low}})/2,
                        v: ({{high}}+{{low}})*7
                      },
                  {% endfor %}        
                         ];
			
            console.log(data)
			return data;
		}

		var data = {
			datasets: [{
				data: generateData()
			}, {
				data: generateData()
			}]
		};

		var options = {
			aspectRatio: 1,
			legend: false,
			tooltips: false,

			elements: {
				point: {
					backgroundColor: colorize.bind(null, false),

					borderColor: colorize.bind(null, true),

					borderWidth: function(context) {
						return Math.min(Math.max(1, context.datasetIndex + 1), 8);
					},

					hoverBackgroundColor: 'transparent',

					hoverBorderColor: function(context) {
						return utils.color(context.datasetIndex);
					},

					hoverBorderWidth: function(context) {
						var value = context.dataset.data[context.dataIndex];
						return Math.round(8 * value.v / 1000);
					},

					radius: function(context) {
						var value = context.dataset.data[context.dataIndex];
						var size = context.chart.width;
						var base = Math.abs(value.v) / 1000;
						return (size / 24) * base;
					}
				}
			}
		};

		var chart = new Chart('chart-0', {
			type: 'bubble',
			data: data,
			options: options
		});

		// eslint-disable-next-line no-unused-vars
		function randomize() {
			chart.data.datasets.forEach(function(dataset) {
				dataset.data = generateData();
			});
			chart.update();
		}

		// eslint-disable-next-line no-unused-vars
		function addDataset() {
			chart.data.datasets.push({
				data: generateData()
			});
			chart.update();
		}

		// eslint-disable-next-line no-unused-vars
		function removeDataset() {
			chart.data.datasets.shift();
			chart.update();
		}
	
	</script>	
	  

	
</body>
  
  <!-- <body>
   
    <!-- chart div 
   
    <div id="chart"></div>
    
    <!-- D3 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

  <!-- MomentJS 
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

  <!-- Leaflet JavaScript 
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- Icons 
  <script src={{ url_for('static', filename='js/leaflet-extramarkers.js') }}></script>
  <script src={{ url_for('static', filename='js/leaflet-rotatedmarkers.js') }}></script>
  <script src={{ url_for('static', filename='js/Chart.bundle.min.js') }}></script>
  <script src={{ url_for('static', filename='js/Chart.min.js') }}></script>
  <!-- <script src="leaflet-extramarkers.js"></script> 

  <!-- polyfill.io is library for using newer JavaScript features in older browers (such as Object.assign) 
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    
    
    <!-- API key 
    <!-- <script type="text/javascript" src="static/js/config.js"></script> 
      <!-- JS  
   <script src={{ url_for('static', filename='js/logic.js') }}></script>
    
  </body> -->
</html>